<!--Proyectos -->
<section id="proyectos">
    <div class="border border-dark" style="background-color: #a9c25d;">
      <div class="container">
        <h2 class="titulos panel-title">Proyect</h2>
        <div class="education card-body card-group " style="justify-content: space-evenly;flex-wrap: wrap;">
<div *ngFor = "let proyectos of proyectoList">
        <div  class="card" style="width: 18rem;">
          <img src="{{proyectos.image}}" class="card-img-top" alt="..." width="100px" height="150px">
          <div class="card-body">
            <h4 style="color: white;"><b>  {{proyectos.proyecto}}  </b></h4>
            <p class="contenido card-text" style="color:#a9c25d; font-size: 18px; height: 150px;" > {{proyectos.descripcion}} </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      </div>

      </div>
    </div>
  
</section>
