<section class="encabezado">
    <!--Banner -->
    <div class="container-fluid border border-dark" style="background-color: #a9c25d;"  >
      <div class=" img-fluid">
      <img src="../assets/imagen/banner.png" alt="" width="100%" height="400px">
    </div>
    <div class="col-12 col-lg-12 ">
      <div class="panel panel-default ">
        <div class="img-fluid">
          <img class="imagen" src="../assets/imagen/BlancoNegro.png" alt="" max-width="200px" height="150px">
  
        </div>
  
        <div class="container-fluid border border-dark" style="background-color: white;">
        <div class="subtexto" style="color:#59395f ;">
          <h2 class="panel-title" style="color:#59395f; font-family:Georgia, 'Times New Roman', Times, serif;"><b>Jeanney Reyes</b></h2>
          <div class="text-muted">
          <h4 class="panel-title"  style="color:#59395f; font-family:Georgia, 'Times New Roman', Times, serif;">Puesto Laboral</h4>
          </div>
          <div class="text-muted">
          <h4 class="panel-title"  style="color:#59395f; font-family:Georgia, 'Times New Roman', Times, serif;">Buenos Aires (Argentina) <a href="#"
              class="text-decoration-none"  style="color:#59395f; font-family:Georgia, 'Times New Roman', Times, serif;">Información de Contacto </a> </h4>
          </div>
          
        </div>
      </div>
      </div>
      </div>
    </div>
  </section>
