<!--Acerca de-->
<section class="perfil section-content ">
    <div class="border border-dark" style="background-color: #a9c25d;">
      <h2 class=" titulos panel-title">About</h2>
      <p *ngIf="myPortfolio" class="textop" style="color: white; font-size: 18px;">
        {{myPortfolio.acercaD}}
      </p>
  
      <button type="button" class="btn btn-success" href="#">Tengo interés en</button>
          <button type="button" class="btn btn-outline-success">Añadir Sección</button>
          <button type="button" class="btn btn-outline-success">Más</button>
    </div>
  </section>
