<section class="container-fluid" style="padding-left: 0;">
    <div class="border border-dark" style="background-color: #a9c25d;">
      
  
      <!--Educación -->
      <h2 class="titulos panel-title">Education</h2>



        <div class="education card-body card-group " style="justify-content: space-evenly;flex-wrap: wrap;">
        
          <div *ngFor = "let estudios of estudiosList">
            <div educa class="card mb-3" style="max-width: 440px; max-height:250px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img [src]="estudios.imagen"
                            class="img-fluid rounded-start" alt="..." style="width: 10em;
                        height: 8em; padding-top: 30px;">
                    </div>
                    <div class="modelo col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{estudios.instituto}}</h5>
                            <p class="card-text"> {{estudios.titulo}}</p>
                            <p class="card-text"><small class="text-muted">{{estudios.duracion}} </small></p>
                            <p class="card-text"><small class="text-muted"> {{estudios.ubicacion}} </small></p>
                        </div>
                    </div>
                </div>
            
        </div>
        </div>
  
      </div>
    </div>
  </section>

